
  
        <!-- formulario -->
   
        <div class="container">
            <div class="page-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">Alterar Pergunta</div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <!-- Primeira Coluna -->
                        <div class="col-md-6">
                            <input type="hidden" id="id" value="<%= perguntas ? perguntas.id : '' %>"/>


                          <div class="form-group">
                            <label for="enunciado">Enunciado</label>
                            <input
                              type="text"
                              class="form-control"
                              id="enunciado"
                              value ="<%= perguntas && perguntas.enunciado ? perguntas.enunciado : '' %>"

                            />
                          </div>
  
                        </div>
                        
                        <!-- Segunda Coluna -->
                        <div class="col-md-6">
                          
                          <!-- <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status">
                              <option value="1">Ativo</option>
                              <option value="0">Inativo</option>
                            </select>
                          </div> -->

                          <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="">Selecione o Status</option>
                                <option value="1" <%= perguntas && perguntas.status == 1 ? 'selected' : '' %>>Ativo</option>
                                <option value="0" <%= perguntas && perguntas.status == 0 ? 'selected' : '' %>>Inativo</option>
                              </select>                              
                          </div>
  
                        </div>
  
                        <div class="row mt-3">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Alternativas</label>
                                <div id="alternativasContainer">
                                  <% if (perguntas && perguntas.alternativas) { %>
                                    <% perguntas.alternativas.forEach(function(alternativa, index) { %>
                                      <div class="alternativas-item row mb-2">
                                        <div class="col-md-3 col-8 mb-1">
                                          <input type="text" class="form-control alternativa" placeholder="" required value="<%= alternativa.enunciado %>">
                                        </div>
                                        <div class="col-md-1 col-4 d-flex align-items-center">
                                          <button type="button" class="btn btn-danger btn-sm remover-alternativa">X</button>
                                        </div>
                                      </div>
                                    <% }) %>
                                  <% } %>
                                </div>                              
                                <button type="button" class="btn btn-secondary mt-2" id="btnAdicionarAlternativa">+ Adicionar Alternativa</button>
                              </div>
                            </div>
                          </div>
                      </div>
  
                      </div>
                    </div>
                    <div class="card-action">
                      <button class="btn btn-success cadastrar" id="btnAlterar" type="button">Alterar</button>
                      <button class="btn btn-danger" type="button" onclick="window.location.href='/perguntas/listar'">Voltar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="/js/perguntas/alterar.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        